@charset "UTF-8";

.hidden {
  display: none;
}

/*font-family: 'Bebas Neue', cursive;
font-family: 'Hind Siliguri', sans-serif;
Green: #004712
Gold: #9d8b56
Beige: #e3e6c7*/
p {
  font-family: 'Hind Siliguri', sans-serif;
}

a:link {
  color: #fff;
}
a:visited {
  color: #fff;
}
a:hover {
  color: #9d8b56;
}

h3 {
  color: #004712;
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
  margin: 20px;
  text-align: center;
}
h4 {
  color: #004712;
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  margin: 20px;
  text-align: center;
}
#sitecontainer {
  margin: 0px auto;
  max-width: 1500px;
  background-color: #e3e6c7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* HEADER ------------------------------------------------------------- */
#mainheader {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #004712;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headlogo {
  margin: 0px auto;
}

#burgercontainer {
  display: none;
  margin-top: 20px;
}
#burgercontainer.slideToggle {
  display: block;
  animation: menuslide 1s ease-in forwards;
}

#burgerbutton {
  margin: 20px;
  width: 30px;
  height: 30px;
  transition: all 400ms ease;
}
#burgerbutton.expanded {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

@keyframes menuslide {

}

#navbox {
}
#headnav {
  flex-direction: column;
  text-align: center;
}
.menubuttons {
  color: #fff;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  margin-bottom: 1.5em;
}

/* Tablet Size */
@media screen and (min-width: 768px) {
  #mainheader {
    display: flex;
    flex-direction: row;
  }
  #headlogo {
    margin: 20px;
    display: inline;
  }
  #burgerbutton {display: none;}
  #burgercontainer {
    display: flex;
    margin: 0;
  }
  #headnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menubuttons {
    font-size: 30px;
    margin: 20px;
  }
}

/* Desktop Size */
@media screen and (min-width: 1140px) {
  .menubuttons {
    font-size: 40px;
  }
}
/* FOOTER ------------------------------------------------------- */
#mainfooter {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
  padding: 20px;
}

#leftfooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#responsibility {
  color: #fff;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 16px;
  margin: 10px;
  font-weight: bold;
}
#socialsbox {
  display: flex;
  flex-direction: row;
}
.socialbutton {
  margin: 10px;
}
#copyrightbox {
  color: #fff;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 16px;
  margin: 10px;
}

#rightfooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 10px;
}
#footnav {
  display: flex;
  flex-direction: row;
}
.footbuttons {
  color: #fff;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 16px;
  margin: 10px;
}




/*-- INDEX --*/
#promospace {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#floatbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 700px;
  left: 360px;
}
#promotext {
  color: #fff;
  font-size: 20px;
  width: 800px;
  text-align: center;
}
#shopbutton {
  width: 150px;
  height: 35px;
  background-color: #004712;
  border: 5px;
  border-color: #9d8b56;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.buttontext {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 20px;
  color: #fff;
}

#aboutusbrief {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#abouttext {
  text-align: center;
  font-size: 16px;
  width: 960px;
}
#aboutbutton {
  width: 150px;
  height: 35px;
  background-color: #9d8b56;
  border: 5px;
  border-color: #004712;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}



/*-- CONTACT --*/
#contactbox {
  height: 800px;
  background-color: #004712;
  padding: 30px 30px 0 50px;
  margin-bottom: 30px;
}
#contactform {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1000px;

}
label {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 40px;
  color: #fff;
  margin: 15px;
}
input {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 20px;
  width: 600px;
  border-radius: 16px;
  padding: 5px;
}
textarea {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 16px;
  border-radius: 16px;
  padding: 5px;
}
#sendbutton {
  background-color: #9d8b56;
  font-size: 30px;
  border-radius: 16px;
  margin: 20px;
  width: 400px;
  font-family: 'Hind Siliguri', sans-serif;
}
